@use '../bases/variables' as *;

.info {
    h1 {
        font-size: 22px;
        font-weight: 700;
    }

    &-bar {
        margin-top: 35px;
        display: flex;
        align-items: center;
        gap: 10px;

        &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            border: 1px solid $BgColor;
            border-radius: 50%;

            svg {
                height: 10px;
            }
        }

    }

}